# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
# Android
**/local.properties
# Xcode/Android Studio
*.iml
*.ipr
*.iws
.idea/
.gradle/
.DS_Store
# VS Code
.vscode/
# Generated
flutter_export_environment.sh
